In [70]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import HashingVectorizer
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [85]:
import io
%cd "C:\Users\91834\Downloads\fake-news"

C:\Users\91834\Downloads\fake-news

In [86]:
df1=pd.read_csv('train.csv')
df2=pd.read_csv('test.csv')

In [87]:
print(df1.shape)
print(df2.shape)

(20800, 5)
(5200, 4)

In [88]:
df1.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [89]:
df2.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [90]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [91]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [92]:
 df1.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [94]:
df1.dtypes.value_counts()

object    3
int64     2
dtype: int64

In [93]:
df2.isnull().sum()

id          0
title     122
author    503
text        7
dtype: int64

In [95]:
df2.dtypes.value_counts()

object    3
int64     1
dtype: int64

In [98]:
# Handle missing values
df1=df1.fillna(' ')
df2=df2.fillna(' ')

In [99]:
df1['total']=df1['title']+' '+df1['author']+' '+df1['text']
df2['total']=df2['title']+' '+df2['author']+' '+df2['text']

In [64]:
from nltk.tokenize import word_tokenize

In [101]:
df1.label = df1.label.astype(str)
df1.label = df1.label.str.strip()

In [102]:
df1["label"] = df1["label"].replace({"1":"real", "0":"fake"})
df1.head()

,id,title,author,text,label,total
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,real,House Dem Aide: We Didn’t Even See Comey’s Let...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,fake,"FLYNN: Hillary Clinton, Big Woman on Campus - ..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",real,Why the Truth Might Get You Fired Consortiumne...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,real,15 Civilians Killed In Single US Airstrike Hav...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,real,Iranian woman jailed for fictional unpublished...

In [103]:
x_df = df1['total']
y_df = df1['label']

In [104]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
count_vectorizer = CountVectorizer()
count_vectorizer.fit_transform(x_df)
freq_term_matrix = count_vectorizer.transform(x_df)
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)
print(tf_idf_matrix)

  (0, 155257)	0.008420192304763976
  (0, 154907)	0.04286997800248074
  (0, 154856)	0.009919253631927185
  (0, 154846)	0.010377433629581639
  (0, 153756)	0.03852359859191864
  (0, 153750)	0.08267186432354298
  (0, 153682)	0.032834537619670645
  (0, 153624)	0.012124285049464372
  (0, 153126)	0.024562526647990586
  (0, 152955)	0.022524022315913158
  (0, 152699)	0.0079773717330319
  (0, 152334)	0.03610623672345768
  (0, 152121)	0.007857044142671295
  (0, 152088)	0.024654863179795584
  (0, 152023)	0.02417801130442405
  (0, 151758)	0.014917744176978023
  (0, 151645)	0.011049636326130596
  (0, 151530)	0.025452646766905694
  (0, 151423)	0.012535080164886664
  (0, 151253)	0.06198819301204741
  (0, 151176)	0.010777801055580407
  (0, 150947)	0.05344885072993622
  (0, 150035)	0.024883495372084074
  (0, 150009)	0.018777993375210494
  (0, 149984)	0.015366026463671655
  :	:
  (20799, 6972)	0.01440758731249762
  (20799, 6888)	0.035606469508730636
  (20799, 6512)	0.011332541450675181
  (20799, 5662)	0.01690329275777711
  (20799, 5472)	0.03672560416795952
  (20799, 5437)	0.017698705327489135
  (20799, 5324)	0.03454550187004293
  (20799, 4896)	0.02141616737514402
  (20799, 4534)	0.012622290840150796
  (20799, 4515)	0.015893503840785125
  (20799, 3938)	0.026882313470793676
  (20799, 3831)	0.018409076131099607
  (20799, 3756)	0.027058516001577684
  (20799, 2703)	0.0282857873141527
  (20799, 2392)	0.0188050978154714
  (20799, 2346)	0.041623490806321294
  (20799, 2189)	0.2497412420506996
  (20799, 2064)	0.017395202967691144
  (20799, 2013)	0.013104611406063905
  (20799, 1463)	0.018087447159866033
  (20799, 1457)	0.025280175549927696
  (20799, 1421)	0.01984224630308865
  (20799, 697)	0.032030932223458375
  (20799, 395)	0.012906933124379188
  (20799, 1)	0.03219465015578287

In [105]:
# Splitting the data into test data and train data
x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,y_df, random_state=0)

## LOGISTIC REGRESSION

In [107]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)
print(Accuracy*100)

95.26923076923077

## NAIVE BAYES

In [109]:
from sklearn.naive_bayes import MultinomialNB
NB = MultinomialNB()
NB.fit(x_train, y_train)
Accuracy = NB.score(x_test, y_test)
print(Accuracy*100)

83.5

## DECISION TREE

In [111]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(x_train, y_train)
Accuracy = clf.score(x_test, y_test)
print(Accuracy*100)

96.25

## PASSIVE AGGRESIVE CLASSIFIER

In [115]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import PassiveAggressiveClassifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(x_train,y_train)

#Predict on the test set and calculate accuracy
y_pred=pac.predict(x_test)
score=accuracy_score(y_test,y_pred)
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 97.69%

In [116]:
performances = pd.DataFrame({
    "Model": ["Logistic Regression",  "Naive Bayes", "Decision Tree", "Passive Aggresive Classifier"],
    "Accuracy": [95.26,83.5,96.25,97.69]
})
performances

                          Model  Accuracy
0           Logistic Regression     95.26
1                   Naive Bayes     83.50
2                 Decision Tree     96.25
3  Passive Aggresive Classifier     97.69

**Here Passive aggresive classifier gave best accuracy compare to the other models**